#!/bin/bash

# To enable this script, rename it to backup-post.sh then make it executable

xbm_hostname="$1"
xbm_backupname="$2"

xbm_checker_dir='/home/xbm/xtrabackup-checker'

if ! [ -f $xbm_checker_dir/check-backup-unattended.php ]; then
    echo 'check-backup-unattended.php not found. Exiting...' | logger -txtrabackup-checker
fi

snapshot_path=$(php $xbm_checker_dir/check-backup.php "$xbm_hostname" "$xbm_backupname" --get-snapshot-path)
snapshot_id=$(basename $snapshot_path)
nohup aws --profile "scaleway_backup_push" --endpoint-url https://s3.fr-par.scw.cloud s3 cp $snapshot_path s3://db-prod-backup/$xbm_backupname/$snapshot_id/ --recursive --storage-class GLACIER > /dev/null 2>&1 &

php $xbm_checker_dir/check-backup-unattended.php "$xbm_hostname" "$xbm_backupname" 2>&1 | logger -txtrabackup-checker
